

body{
  background-image: url(images/login.jpg);
  background-size: cover;
}

.login{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-family: 'Archivo Narrow', sans-serif;
  font-family: 'Arvo', serif;
  font-family: 'Bungee', sans-serif;
  text-shadow: 7px 7px 10px rgba(34,101,191,0.669);
  color: rgba(16,188,247,0.838);
  margin-top: 409px;
  margin-right: 100px;
  
}

.i1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.i1 input{
  width: 700px;
  height: 100px;
  border: 5px solid rgba(16,188,247,0.838);
  background-color: transparent;
  margin-right: 70px;
  font-size: 30px;
  color: white;
  margin-top: 60px;
  padding-left: 50px;
  padding-bottom: 5px;
  font-weight: bold;
  border-radius: 50px;
}

.es-senha a{
  display: flex;
  align-items: end;
  justify-content: end;
  font-size: 25px;
  margin-right: 110px;
  text-decoration: none;
  color: white
}



  input:focus {
  
  box-shadow: 1px 1px rgba(16,188,247,0.838);
  outline: 0;
  
}

input::placeholder{
  color: white;
}

.i2{
  padding-top: 10px;
}

.p1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 31px;
  color: rgba(16,188,247,0.838);
  margin-top: 80px;
  margin-right: 100px;
}

.enter input{
  background-color: rgba(16,188,247,0.838);
  width: 760px;
  height: 100px;

}



.p1 a{
  text-decoration: none;
  color: white;
  
}